  <div class="header">
    <!--         <button class="parent active" onclick="buttonClick()" disabled>


        Click Me
        </button>
        <button class="parent idle1" onclick="buttonClick()">
        btn 2 7
        </button> -->
  </div>

  <div class="child">
    &nbsp;<span class="service-text"> choose </span>
    <div></div>

    <div class="popover">
      Click on selected text choice to cancel selection
    </div>




    <!-- <span class="service-text">&nbsp;
    TIME TABLE</span> -->
    <div class="timetable calendar">
      <div class="day period">Day/Period</div>
      <div class="period">I<br />9:30-10:20</div>
      <div class="period">II<br />10:20-11:10</div>
      <div class="period">III<br />11:10-12:00</div>
      <div class="period">IV<br />12:40-1:30</div>
      <div class="period">V<br />1:30-2:20</div>
      <div class="period">VI<br />2:20-3:10</div>
      <div class="period">VII<br />3:10-4:00</div>

      <div class="day">Monday</div>
      <div>Eng</div>
      <div>Mat</div>
      <div>Che</div>
      <div>Lab</div>
      <div>Lab</div>
      <div>Lab</div>
      <div>Phy</div>

      <div class="day">Tuesday</div>
      <div>Lab</div>
      <div>Lab</div>
      <div>Lab</div>
      <div>Eng</div>
      <div>Che</div>
      <div>Mat</div>
      <div>Sports</div>

      <!-- And so on for the rest of the days -->
    </div> <!-- end of timetable div-->

    <div id="data">
      <img alt="no data here 😭😟😭" src="#" />
    </div>

  </div> <!-- this marks the end of the div child  -->








